
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #F5F5F5;
  font-family: "Roboto", Arial, Helvetica, sans-serif
}
.container{

  /* margin-top: 4.3rem; */
}
/* nav */

.navHead{
  background: #139E91 ;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  padding:1rem 0;
  display: flex;
  justify-content: space-around;
}
.title{
  align-self: center; 
  margin-left: 1rem;
  font-size: 1.8rem;
  cursor:pointer;

}
.githubicon{
  vertical-align: middle;
  padding-left: .6rem;
  cursor:pointer
}
.navLinks{ 
  transition: 0.3s ease-in; 
  display: flex;
 
} 
.singleItem{
padding: 0 1rem;
font-size: 1.4rem;
cursor: pointer;
align-self: center; 
}
.label{
  text-decoration: underline;
  padding: 0 1rem;
font-size: 1.4rem;
cursor: pointer;
align-self: center; 
}
@media screen and (max-width: 768px){
  .navHead{
    justify-content: space-between;
  }
  .title{
    font-size: 1.2rem;
   
  }
  .singleItem{
    padding: 0 .5rem;
    font-size: 1rem;
    }
    .label{
     
      padding: 0 .5rem;
    font-size: 1rem;
    
    }
}
/* end of nav */
/* alert */
.alert {
  padding: 0.75rem 1.25rem;
  color: white;
  text-align: center;
  text-transform: capitalize;
  /* width: 90%; */
  /* margin: 2rem auto 0 auto; */
  border-radius: 2px;
  text-transform: capitalize;
}
.alert-danger {
  background: red;
}
.alert-success {
  background: yellowgreen;
}
/* end of alert */

/* expense */
.expenseContainer{
  height:90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-center{
  background: white;
  margin: 4rem auto;
  border-radius: 10px;
  height: 520px;
  width: 580px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.form-group{
  padding: 1rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.btn{
  text-decoration: none;
  color: white;
  background-color: #139E91;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  margin: 2rem auto;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
}
.btn:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.submit{
  background-color: #139E91;
}
.update{
  background-color: #db353a;
}
.btn-icon {
  margin-left: 0.75rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px){
  .form-center{
    width: 370px;
  }


}
/* end of expenses */

/* activity */
.activities{
 margin:0 auto;
 max-width: 1280px;
 /* width: 90%; */
 padding-bottom: 2rem;
 border-radius: 2px;
}
.noActivity{
  text-transform: uppercase;
  font-size: 25px;
  color: green;
  text-align: center;
}
.list{
  margin: 2rem 0.75rem 0 0.75rem;
  list-style-type: none;
  border: none;
  padding: 0;
}
.item{
  background-color: white;
  line-height: 1.5rem;
  padding: 10px 20px;
  /* margin-bottom: .05rem; */
  border: 1px solid #e0e0e0;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 25% 17% 18% 18% 10% 6% 9%;
  transition: all 0.3s linear;
  border-radius: 2px;
}
.actTitle{
  background-color: #52bcb2;
  color: white;
  text-transform: uppercase;
}
.deleteButton{
  cursor: pointer;
  color: #d50000;
  font-size: 24px;
}
.editButton{
  cursor: pointer;
  color: green;
  font-size: 24px;
}
.deleteAll{
  margin-top: 1rem;
  background-color: #d50000;
}
@media screen and (max-width: 768px){
  .activities{
    width: 100%;
    font-size: 13px;
  }
  .list{
    margin: 2rem 0 0 0;
  }
  .item{
    padding: 10px 5px;
  }
  .deleteButton{
    font-size: 16px;
    text-align: left;
  }
  .editButton{
    font-size: 16px;
    text-align: left;
  }
}
/* end of activity */

/* summary */
.navTimeHead{
  background: #979797;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}
.timeContainer{
  display: flex;
  list-style-type: none;
  justify-content: center;
  
}
.timeLabel{
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}
.timeLabel:hover{
  text-decoration: underline;
}
.currentLabel{
  text-decoration: underline;
}
@media screen and (max-width: 768px){
  .timeContainer li{
    padding: 0.5rem 0;
  }
 .singleItem{
  padding:0 10px;
  font-size: 16px;
 }
  /* .timeContainer{
    display: none;  
    position: absolute;
    left: 0;
    width: 30%;
    min-width: 120px;
    background: rgba(151,151,151, 0.7);
    z-index:1; 
  } */
  /* .showNavTime{
    display: flex;
    flex-direction: column;
    align-items: center;   
  } */
}
.currentSummary{
    background-color: F5F5F5;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin-bottom: .5rem;
    /* display: flex;
    justify-content: center; */
  
    transition: all 0.3s linear;
  text-align: center;
}


/* .option{
  padding: 100px;
} */
.sumaryList{
  /* margin: 0 auto;
  border: none;
  padding: 0; */

}
.summaryItem{
  background-color: white;
  line-height: 1.5rem;
  padding: 10px 20px;
  /* margin-bottom: .2rem; */
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  transition: all 0.3s linear;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.subTitle{
  background-color: #52bcb2;
  color: white;
  text-transform: uppercase;
}
.color{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-self: center;
  background: #139E91;
}
.total{
  color: #139E91;
  font-weight: bold;
}

.chartDivision{
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  border-radius: 2px;
 background: white; 
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.topic{
  text-transform: capitalize;
  font-size: 20px;
  color: #139E91;
}
@media screen and (max-width: 1100px){
  .chartDivision{
    flex-direction: column;
    height: 700px;
    /* display:block */
  }
}
@media screen and (max-width: 750px){
  .chartDivision{
    /* min-width: 500px; */
    box-shadow: none;
    background-color: #F5F5F5;
  }
  .summaryItem{
    font-size: 14px;
    grid-template-columns: 12% 33% 30% 25%;
  }
}
/* end of summary */

/* Summary-table */
.wholeTableContainer{
  box-shadow: 0px 5px 2px #aaaaaa;
}
.displayContainer {
  display: grid;
  padding: .8rem;
  box-shadow: 0px 1px 2px #aaaaaa;
  border-radius: 2px;
  font-size: 1.2rem;
  text-align: center;
}
.forActivity{
  grid-template-columns: 2fr repeat(5, 1fr);
}
.forSummary{
  grid-template-columns: repeat(4, 1fr);
}
.toptitle{
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 500;
}
.total{
  color: green
}
.sortTitle{
  cursor: pointer;
}
.adIcon {
  color: rgba(0, 0, 0, 0.1);
}
.adIcon:hover{
  color: rgba(0, 0, 0, 0.5);
}
.color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-self: center;
}
.pageContainer{
  text-align: center;
  padding: 1rem
}
.rowPageContainer{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.tablebtn{
  width: 100px;
  height: 40px;
  border: 1px solid #999;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px #ccc;
  margin: 1rem 0;
  cursor:pointer;
}
.disableBtn {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
@media screen and (max-width: 768px){
  .main{
    width: 100%;
  }
  .displayContainer {
    font-size: .8rem;
    border-radius: 0;
  } 
  .forActivity{
    grid-template-columns:  repeat(5, 1fr);
  }
  .rowPageContainer{
    padding: .5rem;
  }
  .des{
    display: none;
  }
  .tablebtn{
    height: 30px;
    font-size: 1rem;
  }
}
/* End of Summary-table */

/* Summary-select */
.boxContainer{
  margin: 1rem;
  text-align: center;
}
.box {
  width: 225px;
  height: 40px;
  border: 1px solid #999;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px #ccc;
  }
 
  @media screen and (max-width: 768px){
    .box {
      width: 190px;
      height: 30px;
      font-size: 1rem;
      }
      .row{
        margin: 1rem 0;
        width: 100px;
      }
  }
/* Summary-table */